<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<style>
	
	body {
		background-color: maroon;
	}

	p {
		color: gray;
	}

	h1 {
		font-family: 'Arvo', sans-serif;
		font-size: 36px;
		margin: 10px 0;
		font-weight: bold;
		color: red;
	}
	</style>
</head>
<body>
	<h1>Add New Content</h1>
	<%= form_for :sig, :method => :post, :url => {:action => "create"} do |f| %>
	 <p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	  </p>

	  <p>
		<%= f.label :tags %><br>
		<%= f.text_field :tags %>
	  </p>

	 <p>
	  <%= f.label :file %><br>
	  <%= f.text_field :file %>
	 </p>

	 <p style="display:none;">
	  <%= f.label :likes %>
	  <%= f.number_field :likes, :value => 0 %>
	 </p>

	  <p>
		<%= f.submit %>
	  </p>
	<% end %>
	<%= link_to 'Back to web', sigs_path %>
</body>
</html>
