<head>
<link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
</head>
<p>
	<strong>Title:</strong>
	<%= @sig.title %>
</p>

<p>
	<strong>Time Created:</strong>
	<%= @sig.created_at %>
</p>

<p>
	<strong>Author:</strong>
	<%= @sig.user.first_name %> <%= @sig.user.last_name %>
<p>
	<img src="<%= @sig.file %>" >
</p>

<p>
	<strong>Likes:</strong>
	<%= @sig.likes %>
</p>

<%= link_to 'Back to web', sigs_path %>

<%= button_to 'Like', like_sig_path ,:method => :post %>

<% if @user_sigs != :guest %>
	<%= form_for :edge, :method => :post, :url => {:controller => "edges", :action => "connect"} do |f| %>
		<p>     
	 		<%= f.label :aside %>
			<%= f.collection_select :aside, @user_sigs, :id, :title %>
		</p>

		<p style="display:none;">
			<%= f.label :bside %>
			<%= f.number_field :bside, :value => @sig.id %>
		</p>
	
		<%= f.submit 'Connect this edge' %> 
	<% end %>
<% end %>
