<h1>Create a edge manually</h1>

<%= form_for :edge, :method => :post, :url => {:action => "create"} do |f| %>
	<%= f.label :aside %>
	<%= f.number_field :aside %>

	<%= f.label :bside %>
	<%= f.number_field :bside %>	

	<%= f.submit %>

<% end %>
